
[Unit]
Description=oarc-adsb-feed
Wants=network.target
After=network.target

[Service]
User=oarc-adsb
RuntimeDirectory=oarc-adsb-feed
ExecStart=/usr/local/share/oarc-adsb/oarc-adsb-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=oarc-adsb-feed
Nice=-1

[Install]
WantedBy=default.target
